@tailwind base;
@tailwind components;
@tailwind utilities;

.macos {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.25 -0.25 12 12" height="100%" width="100%"><path stroke="rgb(59 130 246)" stroke-linecap="round" stroke-linejoin="round" d="M5.989583333333334 0.71875c-0.3991458333333333 0.9583333333333334 -1.1979166666666667 3.45 -1.1979166666666667 5.75h1.4375c0 1.2156458333333333 0.09583333333333334 3.1625 0.4791666666666667 4.3125" stroke-width="0.5"></path><path stroke="rgb(59 130 246)" stroke-linecap="round" stroke-linejoin="round" d="M3.1145833333333335 3.59375v0.9583333333333334" stroke-width="0.5"></path><path stroke="rgb(59 130 246)" stroke-linecap="round" stroke-linejoin="round" d="M7.90625 3.59375v0.9583333333333334" stroke-width="0.5"></path><path stroke="rgb(59 130 246)" stroke-linecap="round" stroke-linejoin="round" d="M2.635416666666667 7.427083333333334c0.3196041666666667 0.4791666666666667 1.3895833333333334 1.4375 3.1145833333333335 1.4375s2.7154375 -0.9583333333333334 3.1145833333333335 -1.4375" stroke-width="0.5"></path><path stroke="rgb(59 130 246)" stroke-linecap="round" stroke-linejoin="round" d="M0.71875 8.864583333333334v-6.229166666666667a1.9166666666666667 1.9166666666666667 0 0 1 1.9166666666666667 -1.9166666666666667h6.229166666666667a1.9166666666666667 1.9166666666666667 0 0 1 1.9166666666666667 1.9166666666666667v6.229166666666667a1.9166666666666667 1.9166666666666667 0 0 1 -1.9166666666666667 1.9166666666666667h-6.229166666666667a1.9166666666666667 1.9166666666666667 0 0 1 -1.9166666666666667 -1.9166666666666667Z" stroke-width="0.5"></path></svg>');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}
